﻿/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 2500px; /* or 950px */
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.formatting-content {
    white-space: pre-line; 
    word-break: break-all;
}

.not-trimmed-content {
    cursor: pointer;
    display:block
}

.trimmed-content {
    cursor: pointer;
    max-height: 80px;
    display: block;
    overflow: hidden
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.update-member {
    width: 110px;
}

.input-size {
    height: 25px;
}

.nowrap {
  min-width: 160px;
}

.color-highlight {
    background-color: #d4f870;
}

 .form-inline-force {
    display: inline-block;
  }

 .label-level {
     font-size: 0.9em;
 }

 .default-level {
     background-color: white;
     color: black;
 }

 .warn-level {
    background-color: #FCF87E;
    color: black;
 }

 .error-level {
    background-color: orange;
 }

.fatal-level {
    background-color: red;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}