﻿@using System.Globalization
@using LoggerWebInterface.Views.Helpers
@using LogRepository.Entities
@using Microsoft.Ajax.Utilities
@using MongoDB.Bson
@model LoggerWebInterface.Controllers.FilterClass
           
@if (Model != null)
{
    foreach (Log item in Model.Logs)
     {
         <tr class="@LogHelpers.ColorLevel(item.LogLevel)">
             @Html.HiddenFor(modelItem => item.Id.CreationTime, new {@id = "ObjIdCreateTime"})
             @Html.HiddenFor(modelItem => item.Id, new {@id = "ObjId"})
             <td class="utc-date nowrap">
                 @Html.DisplayFor(modelItem => item.Date)
             </td>
             <td>
                 <span class="@LogHelpers.ClassLevel(item.LogLevel)">@item.LogLevel</span>
                 @*@Html.DisplayFor(modelItem => item.LogLevel)*@
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Host)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.ProcessName)
             </td>
             <td>
                 <div class="formatting-content can-trim-content trimmed-content">@Html.DisplayFor(modelItem => item.Message)</div>
             </td>
             <td>
                 @Html.ActionLink("Детали", "Details", "Logs", new {id = item.Id.ToString()}, new {target = "_blank"})
             </td>
         </tr>
     }
}
