﻿@using LoggerWebInterface.Views.Helpers
@model LogRepository.Entities.Log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-md-12">
    <h4>Log</h4>
	<hr />
    <dl class="dl-horizontal" >
        <dt>Сборка</dt>
        <dd>
            @Html.DisplayFor(model => model.Assembly)
        </dd>

        <dt>Класс</dt>
        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>Контекст</dt>
        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>

        <dt>Дата</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>Путь к файлу</dt>
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>Хост</dt>
        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>

        <dt>№ линии</dt>
        <dd>
            @Html.DisplayFor(model => model.LineNumber)
        </dd>

        <dt>Метод</dt>
        <dd>
            @Html.DisplayFor(model => model.Method)
        </dd>

        <dt>Сообщение</dt>
        <dd>
            <pre>
                @Html.DisplayFor(model => model.Message)
            </pre>
        </dd>

        <dt>Процесс</dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessName)
        </dd>

        <dt>Исключение</dt>
        
            @Html.Raw(Html.ExceptionTree(Model.Exception))
            @*@Html.DisplayFor(model => model.Exception.Message)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Exception.Source)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Exception.StackTrace)*@
        
    </dl>
</div>
<p>
    @Html.ActionLink("Назад", "Index")
</p>
