﻿@using LoggerWebInterface.Controllers
@using MongoDB.Bson
@model FilterClass

@Html.Partial("_SearchForm", new FilterClass())

<div>
    <table id="logTableAll" class="table" style='word-break: normal;'>
        <thead>
            <tr>
                <th style="width:150px">
                    @Html.Label("Время записи")
                </th>
                <th style="width:80px">
                    @Html.Label("Уровень")
                </th>
                <th>
                    @Html.Label("Хост")
                </th>
                <th>
                    @Html.Label("Процесс")
                </th>
                <th>
                    @Html.Label("Сообщение")
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody id="logTable">
            @Html.Partial("_LogsTable", Model)
        </tbody>

        @* @Html.Hidden("maxObjectId", Model.MaxObjectId, new { @id = "maxObjectId" })*@

    </table>

</div>